<%- include('header.ejs') %>

<div class="bg-dark text-secondary px-4 py-5 text-center w-100">
    <div class="py-5 w-100">
      <h1 class="display-5 fw-bold text-white text-decoration-underline">About Me</h1>
      <div class="w-100">
        <p class="fs-5 mb-4">My name is Ivan Rios. I am currently seeking opportunities in Web Development. I began learning Web Development when I started college. After learning for a while I know that Web Development is very difficult and even when learning for about a year there is always something to learn and new challenges to face along the way. I got </p>
      </div>
    </div>
  </div>


  <%- include('footer.ejs') %>