<%- include('header.ejs') %>

<div class="bg-dark text-secondary px-4 py-5 text-center mx-5 start-50">
    <div class="py-5 w-100">
      <h1 class="display-5 fw-bold text-white text-decoration-underline">About Me</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-5">My name is Ivan Rios. I am currently seeking opportunities in Web Development. I began learning Web Development when I started college. After learning for a while I know that Web Development is very difficult and even when learning for about a year there is always something to learn and new challenges to face along the way.<br>  I’m always seeking new challenges to enhance my skills and contribute to cutting-edge projects. To enhance my skills, I regularly seek feedback from peers and attend coding meetups, which keeps me updated on the latest trends and best practices. I thrive in environments where I can learn from others, share my knowledge, and continuously improve as a developer. </p>
      </div>
    </div>
  </div>

  <div class="bg-dark py-5 my-5 text-center text-secondary">
    <img class="d-block mx-auto mb-4" src="/images/BC.png" alt="bakersfield college logo" width="90" height="90">
    <h1 class="display-5 fw-bold text-white text-decoration-underline">Education</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-5">I am a student from Bakersfield college</p>
    </div>
  </div>


  <%- include('footer.ejs') %>