<%- include('header.ejs') %>


<div class="cover-container w-100 bg-dark text-light col-xxl-8 px-5 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5 mt-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="/images/yt-profile.jpg" class="d-block mx-lg-auto img-fluid w-45" alt="web developer">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-light lh-1 mb-3">Hello,<br> I'm Ivan Rios</h1>
        <h2 class="fs-4 text-danger">-Full Stack Developer</h2>
        <p class="lead">I am a full stack developer that enjoys creating new projects and finding ways to improve as a programmer. Creating new things and solving issues along the way is a difficult process but I do enjoy the challenge and learning more every day. Some of the technologies I have learned are JavaScript, ReactJS, node.js, express.js, postgres, and ejs. When I am not programming I enjoy BMX bikes and playing some of my favorite pc games.</p>
        <button class="btn btn-danger d-inline-flex" type="button">
          View Projects ➜
        </button>
      </div>
    </div>
  </div>

  <%- include('footer.ejs') %>